/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400 
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights: 
Default: 1
Small: 1.05
Medium: 1.2
Paragraph: 1.6

- Letter Spacing
0.5px
0.75px

--- 02 COLORS
- Primary: #922c2d
- Darks:  #0f0404,
- lights: #e9d5d5,

--- 05 SHADOWS
box-shadow: 

--- 06 BORDER-RADIUS
Default: 10px
Medium: 12px

--- 07 WHITESPACE
- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
--- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@500&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #922c2d;
    --dark: #1d0909;
    --light: #e9d5d5;
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;
}

body {
    color: var(--dark);
    font-family: 'Lato', sans-serif;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: var(--dark);
}

.link:hover,
.link:active {
    text-decoration: none;
    color: var(--primary);
}

header {
    background: linear-gradient(0deg, #e9d5d5b0, #e9d5d580),
        url('../assets/redhair2.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-color: var(--light);
}

.header {
    height: 9.6rem;
    padding: 0 4.8rem;
    /* background-color: var(--light); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    letter-spacing: 1.6rem;
}

.logo:link,
.logo:visited {
    text-decoration: none;
    color: var(--dark);
}

.logo:hover,
.logo:active {
    color: var(--dark);
}

.hero-section {
    /* background-color: var(--light); */
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    width: 120rem;
    margin: 0 auto;
    height: 30rem;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.hero-description {
    font-size: 2.4rem;
    font-weight: 300;
}

.hero-img {
    width: 100%;
}
