.DS_Store
Research/Logo.afdesign
Research/logo.jpg
Research/assets/hero.svg
Research/assets/logoBlack.png
Research/assets/logoBlack.svg
Research/assets/logoRed.svg
Research/assets/logoWhite.svg
Research/assets/splashOne.jpg
Research/assets/splashThree.jpg
Research/assets/splashTwo.jpg
